body, html{
  height:100%;
  background: url(animations/coyotebar.png)

}
body{
  margin: 0px;
  /* background-color:#444; */
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.addLineUpButton {
  padding:5px 12px;
  float:right;
}

.addInteractButton {
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/* .BlinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
} */

.BlinkyDancer:hover, .GoodDancer:hover, .BadDancer:hover {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRFOxzCDwS2lyV0X9DEDs_-WeTMhr9_gv78ew&usqp=CAU);
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.BlinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}



.GoodDancer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(6342px / 21);
  height: 210px;
  background: url(animations/dog.png);
  animation: animate 1s steps(21) infinite;
}

@keyframes animate
{
  from {
    background-position: 0px;
  }
  to {
    background-position: -6342px;
  }
}

.BadDancer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 220px;
  width: 220px;
  background: url(animations/dancingbaby.gif);
}