body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/* .BlinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
} */

.BlinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}



.GoodDancer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(6342px / 21);
  height: 210px;
  background: url(animations/dog.png);
  animation: animate 1s steps(21) infinite;
}

@keyframes animate
{
  from {
    background-position: 0px;
  }
  to {
    background-position: -6342px;
  }
}

.BadDancer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 220px;
  width: 220px;
  background: url(animations/dancingbaby.gif);
}


/* .BadDancer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  background: url(animations/monster.png);
  animation: monster 1s steps(13) infinite;
 };
 @keyframes monster
{
  from {
    background-position: 0px;
  }
  to {
    background-position: 8528px;
  }
} */


/* Monster - width = 8528 height = 536  - number of frames = 13

Dog - width = 6342 height  = 205   - number of frames = 21

Bat - width = 5225 height  = 470  - number of frames = 11
 */


